<% provide(:title, "Calculators") %>
<h1>StaticPages#calculators</h1>
<p>Find me in app/views/static_pages/calculators.html.erb</p>

<!--
<ul>
	<li>constants</li>
	<li>options</li>
	<li>quick calc</li>
	<li>extended calc</li>
	<li>legs</li>
</ul>
-->

