<% provide(:title, "Calculators") %>
<h1>Calculators</h1>

<ul>
	<li>{{ constants [default | user set in settings] }}</li>
	<li>{{ options }}</li>
	<li>{{ quick calc }}</li>
	<li>{{ extended calc }}</li>
	<li>{{ legs }}</li>
</ul>


