<h3>Options Holdings</h3>
<table id="options-portfolio" border="1" style="font-size:11px;">
<thead>
    <tr>
        <th>ticker</th>
        <th>side</th>
        <th>type</th>
        <th>contracts</th>
        <th>size</th>
        <th>expiration</th>
        <th>strike</th>
        <th>entry</th>
        <th>b fee</th>
        <th>exit</th>
        <th>s fee</th>
        <th>loss limit</th>
        <th>gain limit</th>
        <th>net in</th>
        <th>total in</th>
        <th>gross out</th>
        <th>net out</th>
        <th>total fees</th>
        <th>p/l $</th>
        <th>p/l %</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
    </tr>
    <tr>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
    </tr>
    <tr>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
        <td>{{ data }}</td>
    </tr>
</tbody>
</table>