<% provide(:title, @user.name) %>

<div class="row">

	<div class="col-sm-2">
		<h4><%= @user.name %></h4>
		<small><%= @user.email %></small>

		<hr />

		<ul>
			<li>{{ portfolio }}</li>
			<li>{{ transactions }}</li>
			<li>{{ performance }}</li>
			<li>{{ watchlists }}</li>
		</ul>
	</div><!-- /.col-sm-2 -->


	<div class="col-sm-10">
		<h3>Current Holdings</h3>

<!--		<h4>Options</h4>
<br /> -->
		<% if @user.stocks.any? %>
			<h4>Stocks (<%= @user.stocks.count %>)</h4>
			<table class="table" cellpadding="0" cellpadding="0">
			  <thead>
			    <tr>
			      <th>ticker</th>
			      <th>shares</th>
			      <th>entry $</th>
			      <th>entry fee</th>
			      <th>exit $</th>
			      <th>exit fee</th>
			      <th>actions</th>
			    </tr>
			  </thead>
			  <tbody>

					<%= render @stocks %>

			  </tbody>
			</table>
		<% end %>

<hr />

<!--	<h1>Transactions</h1> -->
<!-- see _transaction partials -->
<!--		<h4>Options</h4>
<br />
		<h4>Stock</h4>
-->
	</div><!-- /.col-sm-10 -->


</div><!-- /.row -->