<% provide(:title, @user.name) %>

<div class="row">
	<div class="col-sm-9">
		{{ data }}
	</div>

	<div class="col-sm-3">
		<h3><%= @user.name %></h3>
		<small><%= @user.email %></small>
	</div>

</div>